@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

header {
    text-align: center;

    li {
        font-size: 1.5em;
        font-weight: bold;
        margin: 30px;

        a {
            text-decoration: none;
        }
    }
}

.container {
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 50px 0;
    }

    button {
        a {
            color: #fff;
        }
    }
}
